[Unit]
Description=Daily Tip Server Self-Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/denpie-autoupdate
ExecStart=/usr/local/libexec/denpie-autoupdate force
TimeoutStartSec=75min
